<div id="menu">
  <ul>
    <% if controller.action_name == "home" then selected = " class='selected'" else selected = "" end%>
    <li<%=raw(selected)%>><%= link_to "Home", root_path %></li>

    <% if controller.action_name == "search" then selected = " class='selected'" else selected = "" end%>
    <li<%=raw(selected)%>><%= link_to "Prediction", prediction_path %></li>

    <% if controller.action_name == "start" then selected = " class='selected'" else selected = "" end%>
    <li<%=raw(selected)%>><%= link_to "Translation", translation_path %></li>

    <% if controller.action_name == "specieslist" then selected = " class='selected'" else selected = "" end%>
    <li<%=raw(selected)%>><%= link_to "Species List", specieslist_path %></li>

    <% if controller.action_name == "help" then selected = " class='selected'" else selected = "" end%>
    <li<%=raw(selected)%>><%= link_to "Help", help_path %></li>

    <% if controller.action_name == "team" then selected = " class='selected'" else selected = "" end%>
    <li<%=raw(selected)%>><%= link_to "Team", team_path %></li>

    <% if controller.action_name == "contact" then selected = " class='selected'" else selected = "" end%>
    <li<%=raw(selected)%>><%= link_to "Contact", contact_path %></li>

  </ul>
</div>
